@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Kadwa&family=Open+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
  /* My palette */
  --primary-color: #A2D2FF;
  --secondary-color: #BDE0FE;
  --accent1-color: #FFAFCC;
  --accent2-color: #FFC8DD;
  --accent3-color: #CDB4DB;

  --primary-color-strong: #315d87;
  --accent3-color-strong: #754492;

  /* My chosen font(s) */
  --heading-font: Bitter, Kadwa, "Open Sans";
  --paragraph-font: "Open Sans", Helvetica, sans-serif;
}
/*<body>*/
body {
    background-color: var(--primary-color);
    margin: 0 auto;
    text-align: center;
    font-family: var(--paragraph-font);
    color: var(--primary-color-strong);
    line-height: 1.6;
}
    /*<header>*/
    header {
        background-color: var(--primary-color);
        font-size: 1.3em;
        
    }
        /*<nav>*/
        header nav {
            padding: 20px 0;
        }
            /*<a>Páginas x3</a>*/
            header nav a {
                text-decoration: none;
                background-color: var(--primary-color);
                color: var(--primary-color-strong);
                padding: 0 50px;
            }
            header nav a:hover {
                background-color: var(--secondary-color);
                padding: 10px 50px;
            }
        /*</nav>*/
        /*<img class="poster1">*/
        .poster1 {
            width: 100%;
            
        }
    /*</header>*/
    /*<body>*/
        /*<h1 id="titulo"></h1>*/
        #titulo {
            font-family: var(--heading-font);
            margin: 50px;
        }
        /*<div id="explicacion">*/
        .explicacion {
            background-color: var(--secondary-color);
            padding: 10px 50px;
            margin: 10px 100px;
            text-align: justify;
        }
            /*<h2></h2>*/
            .explicacion h2 {
                text-align: center;
            }
            /*<p>x2</p>*/
        /*</div>*/
        /*<img id="hermosos-img">*/
        #hermosos-img {
            border: 5px solid var(--accent1-color);
            border-radius: 5%;
            width: 50%;
            margin: 0 auto;
        }
        /*div id="hermosos"*/
        #hermosos {
            margin: 0 400px;
            margin-bottom: 20px;
            background-color: var(--accent2-color);
            border-radius: 10px;
            border: 5px solid var(--accent1-color);
        }
        /*<p class="hermosos-p">x2</p>*/
        .hermosos-p {
            margin: 0 auto;
        }
        /*<section class="catalogo"> x3*/
        #nav-catalogo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
            /*<img class="catalogo-img">*/
            .catalogo-img {
                width: 300px;
                border: 2px solid var(--accent3-color);
            }
            /*<p class="catalogo-p"></p>*/
            .catalogo-p {
                font-weight: bold;
                font-size: larger;
            }    
            #nav-catalogo2 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(10, 1fr);
                grid-gap: 25px;
            }   
            .catalogo2-img {
                width: 100%;
                border: 5px solid white;
            }
            #cat2-div1 {
                grid-area: 1 / 1 / 11 / 2;
            }
            #cat2-div2 {
                grid-area: 1 / 2 / 11 / 3;
            }
            #cat2-div3 {
                grid-area: 1 / 3 / 11 / 4;
            }
        /*</section>*/
    /*</body>*/
    /*<footer>*/
    footer {
        background-color: var(--accent1-color);
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.5em;
    }
        /*<nav>*/
            /*<a>SIGUIENTE</a>*/
            footer nav a {
                text-decoration: none;
                background-color: var(--accent1-color);
                color: var(--primary-color-strong);
                padding: 0 20px;
            }
            footer nav a:hover {
                background-color: var(--accent2-color);
                color: var(--accent3-color-strong);
            }
            #love {
                font-weight: bolder;
            }
            #finale {
                text-align: right;
                font-size: 1.1em;
                font-weight: bold;
            }
        /*</nav>*/
    /*</footer>*/
/*</body>*/

video {
    border: 5px solid white;
    width: 50%;
}